
.page {
    background: #f0efeb;
    width: 1150px;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.subtitle {
  text-align: center;
  font-size: 25px;
  margin-bottom: 75px;
}

.body--graph {
	display: flex;
	flex-direction: row;
}

.vis2--title {
  margin-top: 100px;
	font-size: 45px;
	text-align: center;
}
.vis2--container {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
.vis2--des {
  font-size: 28px;
  margin-top: 30px;
	text-align: left;
	margin: 3px;
  margin-left: auto;
  margin-right: auto;
}
.energy{
  color: #bc4b51;
  font-size: 35px;
}

.vis--title {
  margin-top: 100px;
	font-size: 45px;
	text-align: center;
}

.vis1--container {
	padding: 3px;
}
.vis1--des {
  font-size: 28px;
	text-align: left;
	margin: 3px;
	align-self: center;
}
.CO2{
  color: #85905d;
  font-size: 35px;
}

.vis3--des {
  font-size: 28px;
	text-align: left;
	margin: 3px;
	margin-left: auto;
  margin-right: auto;
}
.des3{
  font-size: 35px;
}

.vis4--container {
	padding: 3px;
  margin-left: auto;
  margin-right: auto;
}
.vis4--des {
  font-size: 28px;
	text-align: left;
	margin: 3px;
	align-self: center;
  margin-right: 30px;
}
.des4{
  color: #d62828;
  font-size: 35px;
}

.summary {
  font-size: 28px;
	text-align: left;
	margin: 3px;
	align-self: center;
  margin-right: 30px;
  margin-top: 100px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
